.board-row {
  display: flex;
  justify-content: center;
  height: 30px; 
}
.square {
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  background-color: white;
}
